---
import { APP_STORE_URL } from '../config';
---

<a
  href={APP_STORE_URL}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-block"
  aria-label="Download Plebi on the App Store"
>
  <img
    src="/app-store-badge.svg"
    alt="Download on the App Store"
    class="h-12 sm:h-14"
    width="168"
    height="56"
  />
</a>
